<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>audio</string>
		<string>processing</string>
		<string>com.appflair.chromecast.ios</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_YouTube._googlecast._tcp</string>
		<string>_785537D5._googlecast._tcp</string>
		<string>_2C5BA44D._googlecast._tcp</string>
		<string>_raop._tcp</string>
		<string>_airplay._tcp</string>
		<string>_lnp._tcp.</string>
		<string>_amzn-wplay._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_ABCD1234._googlecast._tcp</string>
		<string>_com.appflair.chromecast.ios._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
